{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block page_content %}
    <div class="page-header">
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        <div class="profile-header">
            {% if user.name %}
                <p>
                    {% if user.name %}{{ user.name }}{% endif %}
                </p>
            {% endif %}
            {% if admin.can() %}
                <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>
                注册时间 {{ moment(user.member_since).format('LLL') }}.
                <br>
                {#关注#}
                {% if user!=current_user and user_p.can() %}
                    {% if not current_user.is_following(user) %}
                        <a href="{{ url_for('main.follow',username=user.username) }}" class="btn btn-primary">关注</a>
                    {% else %}
                        <a href="{{ url_for('main.unfollow',username=user.username) }}" class="btn btn-danger">取消关注</a>
                    {% endif %}
                {% endif %}
                <a href="{{ url_for('main.followers',username=user.username) }}">粉丝数:<span class="badge">{{ user.followers.count() }}</span> </a>
                <a href="{{ url_for('main.followed_by',username=user.username) }}">他的关注:<span class="badge">{{ user.followed.count() }}</span></a>

                {% if current_user.is_authenticated and user!=current_user and user.is_following(current_user) %}
                    | <span class="label label-default">他也在关注你</span>
                {% endif %}
                {% if admin.can() %}
                    <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin',id=user.id) }}">
                        编辑个人资料
                    </a>
                {% elif user == current_user %}
                    <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">
                        编辑个人资料
                    </a>
                {% endif %}
            </p>
        </div>
        <h3>{{ user.username }} 发布的吐槽内容 </h3>
        {% include '_posts.html' %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    </div>


{% endblock %}